<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Nurses</span>
                <h2 class="mb-4">Our Qualified Nurses</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>	
    {% if nurses %}
    <div class="row"> 
        {% for nurse in nurses %}   
            {% if nurse.getNStatus() == "Active" %}        
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            {% if nurse.photo %}
                                <div class="img align-self-stretch" style="background-image: url('{{ asset('uploads/photos/' ~ nurse.photo) }}');"></div>
                            {% else %}  
                                <div class="img align-self-stretch" style="background-image: url('{{ asset('images/default_user.png') }}');"></div>  
                            {% endif %}
                        </div>
                    <div class="text pt-3 text-center">
                        <h3><a href="/nurse/edit/{{ nurse.id }}">{{  nurse.nFirstName }}</a></h3>
                        <span class="position mb-2">{{  nurse.nAddress }}</span>
                        <div class="faded">
                            <p>{{  nurse.nRole }}</p>
                            <p>{{  nurse.nPhoneNumber }}</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
        <p align="center">No nurses to display.</p>
    {% endif %}
    </div>
</section>