{% extends 'base.html.twig' %}

{% block title %}ICU Patients{% endblock %}

{% block body %}
    <section class="ftco-section">
        {% if patients %}
        <table class="table table-hover table-avatar table-valign-middle table-head-fixed table-responsive-xl">
            <thead>
                <tr class="table">
                    <th scope="col"><p>Patient Name</p></th>
                    <th scope="col"><p>Patient Address</p></th>
                    <th scope="col"><p>Gender</p></th>
                    <th scope="col"><p>Date of Birth</p></th>
                    <th scope="col"><p>Phone Number</p></th>
                    <th scope="col"><p>Emergency Contact Details</p></th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    {% if patient.getPatientType() == "In Patient" %}
                        {% if patient.getPCurrentLocation() == "ICU" %}
                            {% if patient.getPStatus() == "Active" %} 
                                <tr>
                                    <td><h7><a href="/icu/patient/edit/{{ patient.id }}">{{  patient.pFirstName }} {{  patient.pLastName }}</a></h7></td>
                                    <td><p>{{ patient.pAddress }}</p></td>
                                    <td><p>{{ patient.pGender }}</p></td>
                                    <td><p>{{ patient.pDOB }}</p></td>
                                    <td><p>{{ patient.pPhoneNumber }}</p></td>
                                    <td><p>{{ patient.pEmergencyContactDetails }}</p></td>
                                </tr>
                            {% endif %} 
                        {% endif %}   
                    {% endif %}
                {% endfor %}   
            </tbody>
        </table>
        {% else %}
        <p align="center">No ICU patients to display.</p>               
        {% endif %}
        <p align="center" class="button-custom"><a href="/icu/patient/add" class="btn btn-secondary py-2 px-3">Add new ICU Patient</a></p>
    </section>
{% endblock %}
