<section class="ftco-section">
    {% if consultants %}   
        <div class="container">
        <div class="row">
            <div class="form-group col-md-6">

                <!-- search form -->
                {% include "consultant/search.html.twig" %}
            
            </div>
        </div> 
        <div class="row">
            {% for consultant in consultants %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        {% if consultant.photo %}
                            <div class="img align-self-stretch" style="background-image: url('{{ asset('uploads/photos/' ~ consultant.photo) }}');"></div>
                        {% else %}  
                            <div class="img align-self-stretch" style="background-image: url('{{ asset('images/default_user.png') }}');"></div>  
                        {% endif %}    
                    </div>
                    <div class="text pt-3 text-center">
                        <h3><a href="{{ path('consultant_show',{'id':consultant.id })}}">{{  consultant.cFirstName }}</a></h3>
                        <span class="position mb-2">{{  consultant.cAddress }}</span>
                        <div class="faded">
                        <p>{{  consultant.cRole }}</p>
                        <p>{{  consultant.cPhoneNumber }}</p>
                        <ul class="ftco-social text-center">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>             
    {% else %}
    <p align="center">No consultants to display.</p>
    {% endif %}
    <p align="center" class="button-custom"><a href="{{path('consultant_add')}}" class="btn btn-secondary py-2 px-3">Add new Consultant</a></p>
</section>