<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h2 class="breadcrumb-item"><b>Qualified Doctors</b></h2>
            </div>
        </div>
    </div>
</section>
		
    
<section class="ftco-section">
    {% if doctors %}
    <div class="container">
        <div class="row">
            <div class="form-group col-md-6">

                <!-- search form -->
                {% include "doctor/search.html.twig" %}
            
            </div>
        </div> 
        <div class="row">
            {% for doctor in doctors %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        {% if doctor.photo %}
                            <div class="img align-self-stretch" style="background-image: url('{{ asset('uploads/photos/' ~ doctor.photo) }}');"></div>
                        {% else %}  
                            <div class="img align-self-stretch" style="background-image: url('{{ asset('images/default_user.png') }}');"></div>  
                        {% endif %}
                    </div>
                    <div class="text pt-3 text-center">
                        <h3><a href="{{ path('doctor_show',{'id':doctor.id })}}">{{  doctor.dFirstName }}</a></h3>        
                        <span class="position mb-2"><p>{{  doctor.dAddress }}</p></span>
                        <div class="faded">
                            <p>{{  doctor.dRole }}</p>
                            <p>{{  doctor.dPhoneNumber }}</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p align="center">No doctors to display.</p>
    {% endif %}
    <p align="center" class="button-custom"><a href="{{path('doctor_add')}}" class="btn btn-secondary py-2 px-3">Add new Doctor</a></p>
</section>