{% extends 'base.html.twig' %}

{% block title %}Departments{% endblock %}

{% block body %}

    <!-- Page Specifying Meta Data -->
    {% include "meta_data.html.twig" %}
        
    <!-- CSS Links -->
    {% include "css_part.html.twig" %}  

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block col-auto">
                        <a href="/" class="nav-link" style="font-size: 17px;">Home</a>
                    </li>
                </ul>

                <!-- Search Form -->
                {% include "search_form.html.twig" %}
        
                <!-- Right navbar links -->
                {% include "navbar_link_logout.html.twig" %}

            </nav>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                {% include "brand_logo.html.twig" %}
                <!-- Sidebar -->
                <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                        <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
                        </div>
                         <div class="info">
                            {% if app.user.username == null %}
                                <a href="#" class="d-block">{{ app.user.email }}</a>
                            {% else %}
                                <a href="#" class="d-block">{{ app.user.username }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                     {% include "department/sidebar.html.twig" %}
                    <!-- /.sidebar-menu -->
                    
                </div>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">                 
                    {% include "page_header_nav.html.twig" %}
    
                    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('images/bg_9.jpg') }}');" data-stellar-background-ratio="0.5">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row no-gutters slider-text align-items-center justify-content-center">
                                <div class="col-md-9 ftco-animate text-center">
                                    <h2 class="breadcrumb-item"><b>Department</b></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                        
                    <section class="ftco-section">
                        {% if departments %}
                        <div class="container">
                            <div class="row">
                                {% for department in departments %}
                                    <div class="col-md-6 col-lg-3 ftco-animate">
                                        <div class="staff">
                                               
                                            <div class="text pt-3 text-center">
                                                <h3><a href="{{path('department_show',{'id': department.id })}}">{{  department.DepartmentName }}</a></h3>
                                                <div class="faded">
                                                    <p>{{  department.hospital }}</p>
                                                    <p>{{  department.DepartmentName }}</p>
                                                    <ul class="ftco-social text-center">
                                                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <p align="center">No department to display.</p>
                        {% endif %}
                        <p align="center" class="button-custom"><a href="{{path('department_add')}}" class="btn btn-secondary py-2 px-3">Add new Department</a></p>    
                    </section>

                    {% include "footer.html.twig" %}

                </div><!-- /.content-header -->    
            </div>
            <!-- /.content-wrapper -->  

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
    </body>

    <!-- Javascript Links -->
    {% include "js_part.html.twig" %}

{% endblock %}