{% extends 'base.html.twig' %}

{% block title %}Patient's Discharge Pdf{% endblock %}

{% block body %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Generate PDF File</title>

        <style>
            /** 
            * Set the margins of the PDF to 0
            * so the background image will cover the entire page.
            **/
            @page {
                margin: 80px 25px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 60px;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 35px;
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 60px; 

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 35px;
            }

            /**
            * Define the real margins of the content of your PDF
            * Here you will fix the margins of the header and footer
            * Of your background image.
            **/
            body {
                margin-top:    1cm;
                margin-bottom: 1cm;
                margin-left:   1cm;
                margin-right:  1cm;
            }

            /** 
            * Define the width, height, margins and position of the watermark.
            **/
            #watermark {
                position: fixed;

                /** 
                    Set a position in the page for your image
                    This should center it vertically
                **/
                bottom:   10cm;
                left:     5.8cm;

                /** Change image dimensions**/
                width:    8cm;
                height:   8cm;

                /** Your watermark should be behind every content**/
                z-index:  -1000;
            }

            #headline {
                position: fixed;
                top:   0.6cm;
                left:     6.8cm;
            }
        </style>
    </head>

    <body>
        <!-- Define header and footer blocks before your content -->
        <header>
            <a href="#">
                <span style="font-size:25px"><b>Cardio</b>Care</span>
            </a>
        </header>

        <footer>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
        </footer>
        
        <div id="watermark">
            <img src="{{ asset('images/about.jpg') }}" height="100%" width="100%"/>
        </div>
        <main>
            <h3 id="headline">{{ headline }}</h3>
            <div>
                <h4>Patient discharged at {{ "now"|date("H:i:s d/m/Y","+05:30") }}</h4> 
                <h4>Patient's Fullname: {{ patient.pFirstName }} {{ patient.pLastName }}</h4>
                <h4>Patient's Address: {{ patient.pAddress }}</h4>
                <h4>Patient's Gender: {{ patient.pGender }}</h4>
                <h4>Patient's Date of Birth: {{ patient.pDOB }}</h4>
                <h4>Patient's Height: {{ patient.pHeight }}</h4>
                <h4>Patient's Weight: {{ patient.pWeight }}</h4>
                <h4>Patient's Mobile Number: {{ patient.pPhoneNumber }}</h4>
                <h4>Patient's Emergency Contact Details: {{ patient.pEmergencyContactDetails }}</h4>
                <h4>Patient's Medical History: {{ patient.pMedicalHistroy }}</h4>
                <h4>Patient's Allergic History: {{ patient.pAllergicHistroy }}</h4>
                <h4>Patient's Surgical History: {{ patient.pSurgicalHistroy }}</h4>
                <h4>Patient's Drug History: {{ patient.pDrugHistroy }}</h4>
                <h4>Patient's Social History: {{ patient.pSocialHistroy }}</h4>
                <h4>Patient's Examination Details: {{ patient.pExaminationDetails }}</h4>
            </div>
        </main>    
    </body>
</html>
{% endblock %}
